body{
	background: url("./images/bg1.png") no-repeat center center fixed;
    background-size: cover;
	font-family: 'Lexend Tera', sans-serif;
	
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	
	  height:100vh;
}

h1{
	font-size: 475%;
	margin:1%;
	
}

.row{
	margin:1%;
}

.btn{
	background-color: rgb(66, 66, 238);
	color: white;
	opacity: 0.9;
}

.btn:hover{
	color: yellow;;
}



.addtlButton{
	margin: 0.5%;
}

h1 {
    text-align:center;
}

.border1{
    border: 13px inset rgba(164,30,20,0.8);
	border-radius: 20px;
	padding:0.5%;
}

.buttonheader{
	font-size: 18px;
	font-weight: 800;
	color: black;
}

.gif-image{
	margin:0.2%;
	width:100%;
}

.individual-gif-container{
	text-align:center;
}

#submit{
	margin-top: 10px;
}

#new-btn{
	margin-top: 2px;
	width:100%;
}


#gif-container{
	font-size: 22px;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e63a, 0 0 40px #00e63a, 0 0 50px #00e63a, 0 0 60px #00e63a, 0 0 70px #00e63a;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #1b3edb, 0 0 40px #1b3edb, 0 0 50px #1b3edb, 0 0 60px #1b3edb, 0 0 70px #1b3edb, 0 0 80px #1b3edb;
    }
  }